<div id="container">
    <div id="footer-container">
        <div id="warp">
            <div id="left">
                <span id="atag">
                    <a href="">사업자정보확인</a>
                    <a href="">이용약관</a>
                    <a href="">개인정보처리방침</a>
                </span>
                <div class="spantag">
                    <p>(주)페이스톡톡(대표 : 박경훈)</p>
                    <p>사업자번호 : 697-88-00160</p>
                    <p>대표전화 : 1544-4661</p>
                </div>
                
                <div class="spantag">
                    <p>소재지 : 서울시 금천구 가산디지털1로 186(가산동. 제이플라츠 5F. 515,516호)</p>
                </div>
                <div class="spantag">
                    <p>이메일 : admin@koitt.co.kr</p>
                </div>
            </div>
            <div id="right">
                <img src="../../assets/image/footer image.png">
            </div>
        </div>
    </div>
</div>