#container{padding-top:150px; background-color: white;}
#footer-container{
    // margin-top: 50px;
    width: 100%;
    height: 250px;
    background-color: rgb(215, 227, 228);
    position: relative;
    color: rgb(85, 84, 84);
}
#warp::after{
    content: "";
    display: block;
    clear: both;
}
#warp{width: 1100px; position: absolute; top:0; left:50%; margin-left: -550px; background-color:rgb(215, 227, 228);}
#right{float: right; height: 250px; width: 40%; text-align: right;}
#left{float: left; height: 250px; width: 60%; }
a{    
    padding: 0 20px;
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
    font-weight: bold;
    color:rgb(59, 59, 59);
    border-right: 2px solid rgb(177, 175, 175);
}
a:last-child{border-right: none;}
#atag{
    height: 100px;
    line-height: 100px;
}
.spantag > p{
    padding: 0 15px; display: inline; font-size: 0.8em; font-weight:600;
    border-right: 2px solid rgb(177, 175, 175);
}
.spantag > p:last-child{border-right: none;}
.spantag{height: 33px; line-height: 33px;}
#right > img {width: 200px; height: 70px; margin: 120px 10px 0 0;}