<div id="bgColor">

  <mat-toolbar class="toolbar">
    <!-- <div id="menu-left"> -->
    <a [routerLink]="['']"><img src="assets/image/logo.png" alt="logo.jpg" class="menu-logo"></a>
    <a [routerLink]="['/freeBoard']"><button mat-button class="menu" id="fontsize">자유게시판</button></a>
    <a><button mat-button class="menu" id="fontsize" (click)="goMyPage()">마이페이지</button></a>
    <a [routerLink]="['/customer']"><button mat-button class="menu" id="fontsize">고객센터</button></a>
    <!-- <a [routerLink]="['/search']"><button mat-button class="menu">검색</button></a> -->

    <a><button button mat-button class="menu" [matMenuTriggerFor]="animals" id="fontsize" >뷰티 카테고리</button></a>

    <mat-menu #animals="matMenu" >
        <!-- <div id="cattem"> -->
      <button mat-menu-item [matMenuTriggerFor]="Skin" class="cattem" >스킨케어</button>
      <button mat-menu-item [matMenuTriggerFor]="Cleansing" class="cattem">클렌징</button>
      <button mat-menu-item [matMenuTriggerFor]="BaseMakeup" class="cattem">베이스메이크업</button>
      <button mat-menu-item [matMenuTriggerFor]="HueMakeup" class="cattem">색조메이크업</button>
      <button mat-menu-item [matMenuTriggerFor]="Suncare" class="cattem">선케어</button>
      <button mat-menu-item [matMenuTriggerFor]="FunctionalCosmetics" class="cattem">기능성화장품</button>
      <button mat-menu-item [matMenuTriggerFor]="Perfume" class="cattem">향수</button>
      <button mat-menu-item [matMenuTriggerFor]="MensCosmetics" class="cattem">남성화장품</button>
    <!-- </div> -->
    </mat-menu>

    <!-- 스킨 -->
    <mat-menu #Skin="matMenu">
      <button mat-menu-item (click)="goPage('search','스킨')">스킨</button>
      <button mat-menu-item (click)="goPage('search','로션')">로션</button>
      <button mat-menu-item (click)="goPage('search','에센스')">에센스</button>
      <button mat-menu-item (click)="goPage('search','크림')">크림</button>
      <button mat-menu-item (click)="goPage('search','미스트')">미스트</button>
      <button mat-menu-item (click)="goPage('search','메이크업픽서')">메이크업픽서</button>
      <button mat-menu-item (click)="goPage('search','페이스오일')">페이스오일</button>
      <!-- <button mat-menu-item (click)="getMenu('립밤')">립밤</button>
      <button mat-menu-item (click)="getMenu('립틴트')">립틴트</button>
      <button mat-menu-item (click)="getMenu('에센스')">에센스</button>
      <button mat-menu-item (click)="getMenu('크림')">크림</button>
      <button mat-menu-item (click)="getMenu('미스트')">미스트</button> -->
    </mat-menu>
    <!-- 클렌징 -->
    <mat-menu #Cleansing="matMenu" >
      <button mat-menu-item (click)="goPage('search','클렌징폼')">클렌징폼</button>
      <button mat-menu-item (click)="goPage('search','클렌징오일')">클렌징오일</button>
      <button mat-menu-item (click)="goPage('search','클렌징밀크')">클렌징밀크</button>
      <button mat-menu-item (click)="goPage('search','클렌징크림')">클렌징크림</button>
      <button mat-menu-item (click)="goPage('search','클렌징워터')">클렌징워터</button>
      <button mat-menu-item (click)="goPage('search','클렌징젤')">클렌징젤</button>
      <button mat-menu-item (click)="goPage('search','스크럼/필링')">스크럼/필링</button>
      <button mat-menu-item (click)="goPage('search','포인트리무버')">포인트리무버</button>
      <button mat-menu-item (click)="goPage('search','클렌징티슈')">클렌징티슈</button>
      <button mat-menu-item (click)="goPage('search','클렌징비누')">클렌징비누</button>
    </mat-menu>
    <!-- 베이스 메이크업 -->
    <mat-menu #BaseMakeup="matMenu" >
      <button mat-menu-item (click)="goPage('search','메이크업베이스')">메이크업베이스</button>
      <button mat-menu-item (click)="goPage('search','톤업크림')">톤업크림</button>
      <button mat-menu-item (click)="goPage('search','베이스프라미어')">베이스프라미어</button>
      <button mat-menu-item (click)="goPage('search','포인트프라이머')">포인트프라이머</button>
      <button mat-menu-item (click)="goPage('search','파운데이션')">파운데이션</button>
      <button mat-menu-item (click)="goPage('search','비비크림')">비비크림</button>
      <button mat-menu-item (click)="goPage('search','씨씨크림')">씨씨크림</button>
      <button mat-menu-item (click)="goPage('search','쿠션타입')">쿠션타입</button>
      <button mat-menu-item (click)="goPage('search','팩트')">팩트</button>
      <button mat-menu-item (click)="goPage('search','파우더')">파우더</button>
      <button mat-menu-item (click)="goPage('search','트윈케익')">트윈케익</button>
    </mat-menu>
    <!-- 색조 메이크업 -->
    <mat-menu #HueMakeup="matMenu" >
      <button mat-menu-item (click)="goPage('search','립스틱')">립스틱</button>
      <button mat-menu-item (click)="goPage('search','립글로스/락커')">립글로스/락커</button>
      <button mat-menu-item (click)="goPage('search','립틴트')">립틴트</button>
      <button mat-menu-item (click)="goPage('search','립밤')">립밤</button>
      <button mat-menu-item (click)="goPage('search','립라이너')">립라이너</button>
      <button mat-menu-item (click)="goPage('search','아이라이너-펜슬&젤')">아이라이너-펜슬&젤</button>
      <button mat-menu-item (click)="goPage('search','아이라이너-리퀴드')">아이라이너-리퀴드</button>
      <button mat-menu-item (click)="goPage('search','마스카라')">마스카라</button>
      <button mat-menu-item (click)="goPage('search','픽서/영양제')">픽서/영양제</button>
      <button mat-menu-item (click)="goPage('search','아이섀도우')">아이섀도우</button>
      <button mat-menu-item (click)="goPage('search','아이브로우-펜슬')">아이브로우-펜슬</button>
      <button mat-menu-item (click)="goPage('search','아이브로우-파우더')">아이브로우-파우더</button>
      <button mat-menu-item (click)="goPage('search','아이브로우-마스카라&리퀴드')">아이브로우-마스카라&리퀴드</button>
      <button mat-menu-item (click)="goPage('search','하이라이터')">하이라이터</button>
      <button mat-menu-item (click)="goPage('search','쉐딩')">쉐딩</button>
      <button mat-menu-item (click)="goPage('search','블러셔')">블러셔</button>
    </mat-menu>
    <!-- 선케어 -->
    <mat-menu #Suncare="matMenu">
      <button mat-menu-item (click)="goPage('search','선블록')">선블록</button>
      <button mat-menu-item (click)="goPage('search','선스프레이')">선스프레이</button>
      <button mat-menu-item (click)="goPage('search','선스틱')">선스틱</button>
      <button mat-menu-item (click)="goPage('search','선쿠션')">선쿠션</button>
      <button mat-menu-item (click)="goPage('search','태닝')">태닝</button>
    </mat-menu>
    <!-- 기능성화장품 -->
    <mat-menu #FunctionalCosmetics="matMenu">
      <button mat-menu-item (click)="goPage('search','링클케어')">링클케어</button>
      <button mat-menu-item (click)="goPage('search','트러블케어')">트러블케어</button>
      <button mat-menu-item (click)="goPage('search','화이트닝케어')">화이트닝케어</button>
      <button mat-menu-item (click)="goPage('search','모공케어')">모공케어</button>
      <button mat-menu-item (click)="goPage('search','아이케어')">아이케어</button>
      <button mat-menu-item (click)="goPage('search','넥케어')">넥케어</button>
    </mat-menu>
    <!-- 향수 -->
    <mat-menu #Perfume="matMenu">
      <button mat-menu-item (click)="goPage('search','여성향수')">여성향수</button>
      <button mat-menu-item (click)="goPage('search','남성향수')">남성향수</button>
      <button mat-menu-item (click)="goPage('search','방향제')">방향제</button>
      <button mat-menu-item (click)="goPage('search','향초')">향초</button>
      <button mat-menu-item (click)="goPage('search','디퓨저')">디퓨저</button>
    </mat-menu>
    <!-- 남성화장품 -->
    <mat-menu #MensCosmetics="matMenu" >
      <button mat-menu-item (click)="goPage('search','스킨')">스킨</button>
      <button mat-menu-item (click)="goPage('search','로션')">로션</button>
      <button mat-menu-item (click)="goPage('search','에센스')">에센스</button>
      <button mat-menu-item (click)="goPage('search','크림')">크림</button>
      <button mat-menu-item (click)="goPage('search','클렌징')">클렌징</button>
      <button mat-menu-item (click)="goPage('search','스크럽/필링')">스크럽/필링</button>
      <button mat-menu-item (click)="goPage('search','쉐이빙')">쉐이빙</button>
      <button mat-menu-item (click)="goPage('search','애프터쉐이브')">애프터쉐이브</button>
      <button mat-menu-item (click)="goPage('search','마스크/팩')">마스크/팩</button>
      <button mat-menu-item (click)="goPage('search','메이크업')">메이크업</button>
      <button mat-menu-item (click)="goPage('search','선케어')">선케어</button>
      <button mat-menu-item (click)="goPage('search','헤어/바디')">헤어/바디</button>
      <button mat-menu-item (click)="goPage('search','헤어스타일링')">헤어스타일링</button>
    </mat-menu>

    <div *ngIf="!fuId" class="user-menu-box">
      <a [routerLink]="['/signin']"><button mat-button class="menu" id="fontsize-s">로그인</button></a>
      <a [routerLink]="['/signup']"><button mat-button class="menu" id="fontsize-s">회원가입</button></a>
    </div>
    <div *ngIf="fuId" class="user-menu-box">
      <a class="menu" id="fontsize">{{fuId}}님</a>
      <a><button mat-button class="menu" id="fontsize" (click)="logOut()">로그아웃</button></a>
    </div>
    <!-- </div> -->
  </mat-toolbar>
</div>