#bgColor{
    background-image: linear-gradient(to right, #8ed3da  , #bdf6f8);
    width: 100%;
    height: 100px;
    font-size: 40px;

    
}
.toolbar{
    padding-top: 5px;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -600px;
    background-image: linear-gradient(to right, #92d7df  , #b5f3f5);
    // background-color: #b8f8fa;
    width: 1200px;
    height: 100px;
    // margin: 0 auto;
    // padding: 0 100px;
    
}
// linear-gradient(to right, #8ed3da , #b8f8fa);
.cattem{
    font-size: 14pt;
}

.menu{
    margin-left: 5px;
    font-size: 14pt;
    font-weight: bold;
}

.menu-logo{
    width: 200px;
    height: 100px;
}


.user-menu-box{
    
    width: 40%;
    // display: inline;
    text-align: right;
}

a{
    color: white;
}
#fontsize{
    font-size: 26px;
    color: white;
}





