#container{
    width: 100%;
    background-color: rgb(252, 252, 252);
  }
  #toolba{
    background-color:white;
    color:black;
    font-size: 38px;
    font-weight: 700;
  }
  #textcol{
    font-size: 32px;
    color: rgb(70, 69, 69);
  }
  #textcent{
    text-align: center;
  }
  #width{
    padding: 0px;
    width: 1200px;
    margin: 0 auto;
    // margin-right: 600px;
  }
#big01::after{
    content: "";
    display: block;
    clear: both;
   }
  #in01{
    float: left;
  }
  #in02{
    float: right;
  }
  #big02::after{
    content: "";
    display: block;
    clear: both;
    // height: 10px;
    // width: 10px;    
   }
  #inpu01{
    float: left;
    width: 25%;
    padding: 20px 20px;
    font-size: 13px;
  }
  #inpu02{
    float: left;
    width: 25%;
    padding: 20px 20px;
    font-size: 13px; 
    margin-left:24%;
  }
  #card{
    background-color:white;
    color: rgb(70, 69, 69);
    width: 360px;
      height: 400px;
  }
  #card2{
    background-color:white;
    color: rgb(199, 194, 194);
    width: 830px;
      height: 1110px;
  }
  #card-in01{
    background-color: rgb(255, 255, 255);
    color: rgb(32, 32, 32);
  }
  .mat-card-text{
    background-color: rgb(255, 255, 255);// 성별 테마 색
    color: rgb(0, 0, 0);
    
  }
  .mat-list-option-text{
    background-color: rgb(255, 255, 255); // 리스트 테마 색
    color: rgb(0, 0, 0);
  }
  .mat-selection-list-co{
    background-color: rgb(255, 255, 255); // 리스트 위에 얇은 부분 테마색 
    color: rgb(0, 0, 0);
  }
  .mat-checkbox-inner-container{
    background-color: rgb(158, 158, 158);
    color: black;
  }
  #blue{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .p{
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
  }
  .mat-radio-group{
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
  }
  #posize{
    font-size: 14px;
  }
 // 드래그 금지
 .mos{ 
  -ms-user-select:none;
  -moz-user-select:-moz-none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  user-select:none;
 }
  table {
    width: 90%;
  }
  mat-slider {
    width: 200px;
  }  
  .button-row{
    width: 60%;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    margin-left:20%;
  }
  .inputbox-number{
    text-align:center;        //  인풋박스 안의 텍스트 정렬
    width:5px;               //인풋박스의 넓이
    height:5px;         //인풋박스 높이
  }
  #thfont{
    font-size: 15px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }