<!-- <app-menu (product)="change($event)"></app-menu>   vr.1 서치페이지에서만 되는거  -->
<div id="mos">
  <div id="container">
    <div id="width">
      <br>
      <mat-card id="toolba">
        <mat-card-title id="toolba">{{product.fpCarte}} 랭킹</mat-card-title>
      </mat-card>
      <br>
      <!-- 필터 부분 -->
      <div id="big01">
          <div id="in01">
        <mat-card id="card">
          <mat-card-content>
            <mat-card-title>&nbsp;&nbsp;필터</mat-card-title>
            <br><br>
            <ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options"></ng5-slider>
            <div id="big02">
              <div id="inpu01">
                <input type="number" placeholder="최저가격" id="minPrice" [(ngModel)]="product.minPrice"> 
              </div>
              <div id="inpu02">
                <input type="number" placeholder="최고가격" id="maxPrice" [(ngModel)]="product.maxPrice">
              </div>
            </div>

            <br><br><br>
            <button class="button-row" mat-raised-button color="primary" (click)="doFilter()">필터 적용</button>

          </mat-card-content>
        </mat-card>
      </div>
      
      <!-- 상품 테이블 부분 -->
      <div id="in02">
        <mat-card id="card2">
          <mat-card-content>
            <!-- 검색 필터 -->
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="fpFileName">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element" (click)="goPage('product/'+element.fpNum)"> <img
                      src="http://localhost:89\resources\product{{element.fpFileName}} " width="150px" height="150px">
                  </td>
                </ng-container>
                <ng-container matColumnDef="fpName" >
                  <th mat-header-cell *matHeaderCellDef id="thfont" > 이름 </th>
                  <td mat-cell *matCellDef="let element" (click)="goPage('product/'+element.fpNum)">
                    {{element.fpName}} </td>
                </ng-container>
                <ng-container matColumnDef="fpVolume">
                  <th mat-header-cell *matHeaderCellDef id="thfont"> 용량 &nbsp;&nbsp;&nbsp;&nbsp;</th>
                  <td mat-cell *matCellDef="let element" (click)="goPage('product/'+element.fpNum)">
                    {{element.fpVolume}} &nbsp;&nbsp;&nbsp;&nbsp; </td>
                </ng-container>
                <ng-container matColumnDef="fpPrice">
                  <th mat-header-cell *matHeaderCellDef id="thfont"> 가격 </th>
                  <td mat-cell *matCellDef="let element" (click)="goPage('product/'+element.fpNum)">
                    {{element.fpPrice}}원 </td>
                </ng-container>
                <ng-container matColumnDef="itemReviewAvgscore">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element" (click)="goPage('product/'+element.fpNum)">
                    <!-- 상품 평점 하트로 보여지게하는거 -->
                    <ng-template #t let-fill="fill">
                      <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                      </span>
                    </ng-template>
                    <ngb-rating [(rate)]="element.itemReviewAvgscore" [starTemplate]="t" [readonly]="true" max="5">
                    </ngb-rating>
                  </td>
                </ng-container>
                <ng-container matColumnDef="itemReviewCount">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element" (click)="goPage('product/'+element.fpNum)">
                    ({{element.itemReviewCount}})
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <!-- 마터리얼 테이블 페이징 -->
              <mat-paginator [pageSizeOptions]="[6, 15, 50]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <br>
  </div>