#container{
    width: 100%;
    background-color: rgb(252, 252, 252);
  }
  #big01::after{
      content: "";
      display: block;
      clear: both;
     }
    #in01{
      float: left;
    }
    #in02{
      float: right;
    }
    #card{
      background-color: rgb(255, 255, 255);
      color: rgb(70, 69, 69);
      width: 250px;
      height: 500px;
    }
    #card2{
      background-color: rgb(255, 255, 255);
      color: rgb(199, 194, 194);
      width: 920px;
      height: 400px;
    }
    #card3{
      background-color: rgb(255, 255, 255);
      color: rgb(199, 194, 194);
      width: 920px;
      height: 800px;
    }
    #cardin{
      background-color: rgb(252, 252, 252);
      color: rgb(58, 58, 58);
    }  
    .cardin-list{
      color: rgb(58, 58, 58);
  
    }
  
    #width{
      padding: 0px;
      width: 1200px;
      margin: 0 auto;
      // margin-right: 600px;
    }
  
    .container {
      /* Style */
      height: 64px;
      line-height: 64px;
      background: teal;
      color: white;
      font-family: Helvetica;
      padding: 12px;
      box-sizing: border-box;
      /* Actual logic */
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .container div:last-child {
      text-align: right;
    }
    .container div {
      flex: 1 1 auto;
    }
    #fontsize{
      color: black;
      font-size: 16px;
    }
    #fontsize-b{
        font-size: 16px;
      }

      .text-01{
        color: black;
        font-weight: 600;
        font-size: 30px;
      }
      .text-02{
        color: black;
        font-weight: 300;
        font-size: 14px;
      }
      #input-small{
        padding-top: 1%;
        width: 40%;
    }
    #input-em{
      padding-top: 1%;
      width: 45%;
  }
    #input-email{
      padding-top: 1%;
  }
  #input-zipcode{
    padding-top: 1%;
    float: left;
    width: auto;
  }
  #input-addr{
    padding-top: 1%;
    float: right;
    width: 60%;
  }
  #input-select{
    width: 30%;
  }
  #daum-btn{
    padding-top: 1%;
  }
  #btn-next{
    font-size: 15pt;
    padding-left: 2%;
    padding-right: 1.8%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  #input-email{
    padding-top: 1%;
  }
  #input-add{
    padding-top: 1%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 15%;
  }      