<div id="container">

  <div id="width">
    <br>
    <div id="big01">
      <div id="in01">
        <mat-card id="card">
          <mat-card-content>

            <mat-card id="cardin">
              <mat-card-content>
                <mat-card-title>내 정보</mat-card-title>
                <mat-list role="list">
                  <a [routerLink]="['/user-update']"><button mat-button id="fontsize">개인정보 확인/수정</button></a>
                  <a [routerLink]="['/user-app-update']"><button mat-button id="fontsize-b">상세정보 확인/수정</button></a>

                  <mat-list-item role="listitem" class="cardin-list">회원 탈퇴</mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>

            <br>

            <mat-card id="cardin">
              <mat-card-content>
                <mat-card-title>내 활동</mat-card-title>
                <mat-list role="list">
                    <a [routerLink]="['/user-app-update']"><button mat-button  id="fontsize">문의 내역</button></a>
                    <a [routerLink]="['/user-app-update']"><button mat-button  id="fontsize">신고 내역</button></a>
                    <a [routerLink]="['/user-app-update']"><button mat-button  id="fontsize">내가 쓴후기</button></a>
                </mat-list>
              </mat-card-content>
            </mat-card>


          </mat-card-content>
        </mat-card>
      </div>




      <div id="in02">
        <mat-card id="card3">
          <mat-card-content>
            <br>
            <div class="text-01">
              <p>상세정보수정</p>
            </div>
            <br>
            <!-- 아이디 -->
            <div id="input-small" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">아이디</span>
              </div>
              <input type="text" id="fuId" [(ngModel)]="userInfo.fuId" class="form-control" disabled>
            </div>
            <!-- 성별 -->
            <div id="input-add" class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">성별</label>
              </div>
              <select [(ngModel)]="userInfo.fuTrans" class="custom-select" id="inputGroupSelect01">
                <option value="1">남자</option>
                <option value="2">여자</option>
              </select>
            </div>
            <!-- 생년월일 -->
            <div id="input-add" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">생년월일</span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="userInfo.fuAge"
                placeholder="ex)19920630 양식에 맞게 입력해주세요." required>
            </div>
            <!-- 피부타입 -->
            <div id="input-add">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">피부타입</span>
                </div>
                <input type="text" class="form-control" disabled [(ngModel)]="userInfo.fuSkinType" required>
              </div>
              <mat-radio-group [(ngModel)]="userInfo.fuSkinType" aria-label="Select an option">
                <mat-radio-button value="건성">건성</mat-radio-button>
                <mat-radio-button value="지성">지성</mat-radio-button>
                <mat-radio-button value="중성">중성</mat-radio-button>
                <mat-radio-button value="복합성">복합성</mat-radio-button>
              </mat-radio-group>
            </div>
            <!-- 피부고민 -->
            <div id="input-add">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">피부고민</span>
                </div>
                <input type="text" class="form-control" disabled [(ngModel)]="userInfo.fuSkinIssue" required>
              </div>
              <mat-radio-group [(ngModel)]="userInfo.fuSkinIssue" aria-label="Select an option">
                <mat-radio-button value="아토피">아토피</mat-radio-button>
                <mat-radio-button value="여드름">여드름</mat-radio-button>
                <mat-radio-button value="민감성">민감성</mat-radio-button>
              </mat-radio-group>
            </div>
            <!-- 자녀여부 -->
            <div id="input-add" class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">자녀여부</label>
              </div>
              <select [(ngModel)]="userInfo.fuChild" class="custom-select" id="inputGroupSelect01">
                <option value="0">없음</option>
                <option value="1">있음</option>
              </select>
            </div>
            <br>
            <div align="center">
              <button type="button" class="btn btn-outline-info" (click)="UserAddInfoUpdate()">수정<mat-icon>done
                </mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <br>

  </div>
</div>