html,
body {
  height: 100%;
}
app-menu{
  display: none;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  margin-top: 5%;
  font-weight: 400;

}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-top: 5%;
}
.form-signin .form-control:focus {
  z-index: 2;
}
#btn-login{
    padding-right: 5%;
    padding-left: 5%;
    margin-right: 5%;
    font-weight: 100;
}
#btn-register{
    margin-left: 5%;
    padding-right: 5%;
    padding-left: 5%;
    font-weight: 100;   
}
#btn-id{
    padding-right: 5%;
    padding-left: 5%;
    font-size: 10pt;
}
#btn-pwd{
    padding-right: 5%;
    padding-left: 5%;
    font-size: 10pt;
}