<!-- 로그인 페이지 -->
  <body class="text-center">
    <div class="form-signin">
      <!-- 회사 로고 -->
      <img class="mb-4" src="assets/image/logo.png" alt="logo" width="300" height="200">
      <h1 class="h3 mb-3 font-weight-normal">페이스톡톡</h1>
      <!-- 아이디 입력-->
      <input type="text" class="form-control" placeholder="아이디" [(ngModel)]="user.fuId" required autofocus>
      <!-- 비밀번호 입력 -->
      <input type="password" class="form-control" placeholder="비밀번호" [(ngModel)]="user.fuPwd" required>
      <!-- 아이디 기억하기 -->
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" [(ngModel)]="fuIdState" (change)="getFuId()"> 아이디 기억하기
        </label>
      </div>
      <div>
      <!-- 로그인 및 회원가입 버튼 -->
      <button id="btn-login" class="btn btn-outline-info" type="button" (click)="doLogin()">로그인</button>
      <button id="btn-register" class="btn btn-outline-info" type="button" (click)="goPage('signup')">회원가입</button>
      </div>
      <!-- 년도 -->
      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
    </div>
  </body>