<div class="mos">
  <div id="container">
    <div id="width">
      <br>

      <button class="btn btn-outline-info" (click)="goPage('search',product.fpCarte)">돌아가기<mat-icon>reply</mat-icon>
      </button>
      <br>
      <br>
      <div id="big01">
        <div id="in01">
          <br>
          <br>
          <mat-toolbar>
            <mat-toolbar-row id="card">
              <img src="http:\\localhost:89\resources\product{{product.fpFileName}}" width="310px" height="310px">
            </mat-toolbar-row>
          </mat-toolbar>
        </div>

        <div id="in02">

          <mat-card id="card2">
            <mat-card-content>
              <mat-card-title id="toolba"> {{product.fpName}} </mat-card-title>
              <span id="test-gri">{{product.fpVolume}}/</span>
              <span id="test-s"> {{product.fpPrice}}</span>
              <span id="test-gro-han">원</span>
              <br><br>
              <span *ngIf="isingr" id="test-s"> 유의해야하는성분</span>
              <button *ngIf="isingr" id="intbnt" type="button" class="btn btn-outline-info"
                (click)="openLg(content)">성분정보<mat-icon>info</mat-icon>
              </button>
              <br><br>

              <!-- 상품 평점 하트로 보여지게하는거 -->
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                </span>
              </ng-template>
              <ngb-rating [(rate)]="product.itemReviewAvgscore" [starTemplate]="t" [readonly]="true" max="5">
              </ngb-rating>

              <br><br>
              <mat-card-title id="test-s"> 판매처 </mat-card-title>
              <mat-card>
                <mat-card-content> {{product.fpSeller}} </mat-card-content>
              </mat-card>
              <br>
              <mat-card-title id="test-s"> 설명 </mat-card-title>
              <mat-card>
                <mat-card-content>{{product.fpDetail}} </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>

        </div>
      </div>

      <!-- 성분정보 버튼 -->
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">성분정보</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead>
              <tr *ngFor="let ingredient of ingredientList">
                <td>{{ingredient.fiSafeLevel}}</td>
                <td>{{ingredient.fiKorName}}</td>
                <td>{{ingredient.fiEngName}}</td>
                <td>{{ingredient.fiDetail}}</td>
              </tr>
            </thead>
          </table>

        </div>
      </ng-template>
      <br><br>
      <!-- -------------------------------------------------------------------------------------------------------------- -->


      <!-- 필터 -->
      <div id="big01">
        <div id="in01">

          <mat-card id="car01">
            <mat-card-content>
              <mat-card-title class="mat-card-text">필터</mat-card-title>
              <br>
              <mat-card id="card-in01">
                <mat-card-content>
                  <mat-card-title class="mat-card-text">성별</mat-card-title>
                  <section>
                    <mat-radio-group [(ngModel)]="itemReview.fuTrans" class="mat-radio-group">
                      <mat-radio-button color="primary">
                        전체&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margi n" color="primary" value="2">
                        여자&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" color="primary" value="1">
                        남자&nbsp;&nbsp;
                      </mat-radio-button>
                    </mat-radio-group>
                  </section>
                </mat-card-content>
              </mat-card>
              <br>
              <mat-card id="card-in01">
                <mat-card-content>
                  <mat-card-title class="mat-card-text">연령대</mat-card-title>
                  <section>
                    <mat-radio-group [(ngModel)]="itemReview.ageg" class="mat-radio-group">
                      <mat-radio-button class="example-margin" color="primary">
                        전체&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" color="primary" value="10">
                        10대&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" color="primary" value="20">
                        20대&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" color="primary" value="30">
                        30대&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" color="primary" value="40">
                        40대이상&nbsp;&nbsp;
                      </mat-radio-button>
                    </mat-radio-group>
                  </section>
                </mat-card-content>
              </mat-card>
              <br>
              <mat-card id="card-in01">
                <mat-card-content>
                  <mat-card-title class="mat-card-text">피부타입</mat-card-title>
                  <section>
                    <mat-radio-group [(ngModel)]="itemReview.fuSkinType" class="mat-radio-group">
                      <mat-radio-button class="example-margin" color="primary">
                        전체&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" color="primary" value="건성">
                        건성&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" color="primary" value="지성">
                        지성&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" color="primary" value="중성">
                        중성&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" color="primary" value="복합성">
                        복합성&nbsp;&nbsp;
                      </mat-radio-button>
                    </mat-radio-group>
                  </section>
                </mat-card-content>
              </mat-card>
              <br>
              <mat-card id="card-in01">
                <mat-card-content>
                  <mat-card-title class="mat-card-text">피부고민</mat-card-title>
                  <section>
                    <mat-radio-group [(ngModel)]="itemReview.fuSkinIssue" class="mat-radio-group">
                      <mat-radio-button class="example-margin" name="" color="primary">
                        해당없음&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" name="아토피" color="primary" value="아토피">
                        아토피&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" name="여드름" color="primary" value="여드름">
                        여드름&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button class="example-margin" name="민감성" color="primary" value="민감성">
                        민감성&nbsp;&nbsp;
                      </mat-radio-button>
                    </mat-radio-group>
                  </section>
                </mat-card-content>
              </mat-card>
              <br>
              <button class="button-row" mat-raised-button color="primary" (click)="doFilter()">필터 적용</button>
            </mat-card-content>
          </mat-card>
          <br><br><br>

        </div>

        <div id="in02">
          <div id="card2">
            <div class="card">
              <div class="card-header">
                리뷰
              </div>
              <div class="card-body">

                <table class="table table-hover">
                  <thead>
                    <div id="in02">
                      <button *ngIf="!fuToken" class="btn btn-outline-info"
                        (click)="openVerticallyCentered(contentRev)">리뷰 작성<mat-icon>
                          create</mat-icon></button>
                    </div>

                    <!-- 리뷰 작성 버튼 누르면 뜨는 모달 -->
                    <ng-template #contentRev let-modal>
                      <div class="modal-header">
                        <img src="http://localhost:89\resources\product{{product.fpFileName}}" width="100px"
                          height="100px">
                        {{product.fpName}}<br>
                        {{product.fpVolume}}/ {{product.fpPrice}}원

                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>

                      </div>
                      <div class="modal-body">

                        <div class="form-group">
                          <label for="dateOfBirth">상품 후기를 작성해주세요</label>
                          <div class="input-group">

                            <table class="table table-striped">
                              <textarea cols="63" rows="10" [(ngModel)]="itemReview.itemReviewContent"
                                placeholder="페이스톡톡은 신뢰도 높은 정보만을 제공하기 위해, 리뷰클리어링 정책에 따라 신고 받은 리뷰를 블라인드 처리 하고 있습니다. 자세한 내용이 궁금하다면 상단 고객센터 정책을 확인해주세요:)"></textarea>
                            </table>
                            <hr>
                            <table class="table table-striped">
                              평점을 선택해주세요
                              <ngb-rating [(rate)]="itemReview.itemReviewScore" [starTemplate]="t" max="5"></ngb-rating>
                              <b *ngIf="itemReview.itemReviewScore"> {{itemReview.itemReviewScore}}</b>
                            </table>

                            <!-- 파일 업로드 -->
                            <table class="table table-striped">
                              <tr>
                                <th>사진을 올려주세요</th>
                                <td><input type="file" id="fpFile" name="fpFile" (change)="getFiles($event)"> </td>
                              </tr>
                            </table>


                          </div>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-info"
                          (click)="modal.close('Save click')">등록</button>
                      </div>
                    </ng-template>

                    <tr>
                      <!-- <th scope="col">후기</th> -->
                    </tr>
                  </thead>

                  <tbody *ngFor="let itemRview of itemReviewList  | slice: pageSize | slice: 0:itemsPerPage ">
                    <tr>
                      <td>{{itemRview.itemReviewDate}}</td>
                    </tr>
                    <tr *ngIf="itemRview.itemReviewPath1!=null">
                      <td> <img src="http://localhost:89\resources\review{{itemRview.itemReviewPath1}} " width="100px"
                          height="100px"></td>
                    </tr>
                    <tr>
                      <td>
                        <!-- 상품후기 별점  하트모양-->
                        <ng-template #t let-fill="fill">
                          <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                          </span>
                        </ng-template>
                        <ngb-rating [(rate)]="itemRview.itemReviewScore" [starTemplate]="t" [readonly]="true" max="5">
                        </ngb-rating>
                      </td>
                    </tr>
                    <tr>
                      <td>{{itemRview.fuId}}</td>
                    </tr>
                    <tr *ngIf="itemRview.fuTrans==1">
                      <td>
                        <!-- {{itemRview.fuTrans}} -->
                        남자 / {{itemRview.fuSkinType}} / {{itemRview.fuSkinIssue}}
                      </td>
                    </tr>
                    <tr *ngIf="itemRview.fuTrans==2">
                      <td>
                        <!-- {{itemRview.fuTrans}} -->
                        여자 / {{itemRview.fuSkinType}} / {{itemRview.fuSkinIssue}}
                      </td>
                    </tr>
                    <tr>
                      <td>{{itemRview.itemReviewContent}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- 추후삭제 -->
              <!-- <ul>
                  <li *ngFor="let itemRview of itemReviewList | slice: pageSize | slice: 0:itemsPerPage">
                    <p>{{ itemRview.itemReviewContent }}.// {{ itemRview.itemReviewDate }}// {{ itemRview.itemReviewScore }}
                    </p>
                  </li>
                </ul> -->

              <!-- 페이지갯수 -->
              <!-- <span class="float-md-left">Page: {{ currentPage }} / {{numPages.pageCount}}</span> -->

              <!-- 페이징갯수 설정 -->
              <!-- <div class="col-1 input-group-addon">
                  <input class="input-sm text-center" type="number" [min]="10" [max]="itemReviewList.length" step="1"
                    [(ngModel)]="itemsPerPage" (onClick)="changePagesize(pageSize)">
                </div> -->

              <!-- 페이징버튼 -->
              <div class="d-flex justify-content-end">
                <ngb-pagination [collectionSize]="itemReviewList.length" #numPages [pageSize]="itemsPerPage"
                  [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
              </div>

            </div>
            <br><br><br><br>
            <br><br><br><br>
            <br><br><br><br>
          </div>
        </div>

      </div>