#width{
  padding: 0px;
  width: 950px;
  margin: 0 auto;
  // margin-right: 600px;
}
#container{
    width: 100%;
    background-color: rgb(252, 252, 252);
  }
  #big01::after{
      content: "";
      display: block;
      clear: both;
     }
    #in01{
      float: left;
    }
    #in02{
      float: right;
    }
    #card{
      background-color: rgb(255, 255, 255);
      color: rgb(70, 69, 69);
      width: 330px;
      height: 330px;
    }
    // 필터 카드 전체부분
    #car01{
      background-color: rgb(255, 255, 255);
      color: rgb(70, 69, 69);
      width: 330px;
      height: 800px;
    }
    #card2{
      background-color: rgb(255, 255, 255);
      color: rgb(199, 194, 194);
      width: 600px;
      height: 700px;
    }
    #toolba{
      background-color:white;
      color:black;
      font-size: 38px;
      font-weight: 700;
    }
    #test-s{
      color:black;
      font-size: 20px;
      font-weight: 500;
    }
    #test-gri{
      color:rgb(82, 82, 82);
      font-size: 20px;
      font-weight: 500;
    }
    #test-gro-han{
      color:rgb(82, 82, 82);
      font-size: 20px;
      font-weight: 550;
    }
#test01::after{
  content: "";
  display: block;
  clear: both;
 }
 #test02{
  float: left;
 }
 #test03{
  float: right;
 }
.table-hover>tbody>tr, .table-hover>tbody>tr>td{
  border-bottom: 0;
  border-top: 0;
 }
 // 드래그 금지
 .mos{ 
  -ms-user-select:none;
  -moz-user-select:-moz-none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}
// 인풋박스 사이즈 -(상품후기 쓰기 모달안)
.inbox-size{
  width:500px; 
  height:500px;
}
// 필터 버튼
.button-row{
  width: 60%;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  margin-left:20%;
}
#intbnt{
  margin-left:50%;

}
