<div id="board-write">
        <h1 id="write-index">
            글쓰기<mat-icon>create</mat-icon>
        </h1>
        <div id="write-carte-title" class="input-group mb-3">
            <div id="write-carte" class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">카테고리</label>
                </div>
                <select *ngIf="boardCarteList" [(ngModel)]="board.fbCarte" class="custom-select"
                    id="inputGroupSelect01">
                    <option selected>{{board.fbCarte}}</option>
                    <option>{{boardCarteList[0].fbCarte}}</option>
                    <option>{{boardCarteList[1].fbCarte}}</option>
                    <option>{{boardCarteList[2].fbCarte}}</option>
                    <option>{{boardCarteList[3].fbCarte}}</option>
                    <option>{{boardCarteList[4].fbCarte}}</option>
                </select>
            </div>
            <div id="write-title" class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
                </div>
                <input type="text" class="form-control" placeholder="제목을 입력해주세요." [(ngModel)]="board.fbTitle" required>
            </div>
            <div id="wirte-content">
                <ckeditor [(data)]="editorValue" [config]="ckEditorConfig"></ckeditor>
            </div>
        </div>
        <div id="write-btn" align="center">
            <button id="goback-btn" (click)="goPage('freeBoard')" type="button" class="btn btn-outline-info">돌아가기
                <mat-icon>
                    reply</mat-icon></button>
            <button id="save-btn" type="button" (click)="doSave()" class="btn btn-outline-info">저장하기<mat-icon>check
                </mat-icon></button>
        </div>
</div>