#board-write{
    padding-top: 2%;
    padding-left: 18%;
    padding-right: 10%;
    background-color: white;
}
h1{
    padding-bottom: 2%;
}
#write-carte{
    float: left;
    width: 30%;
}
#write-title{
    float: right;
    width: 60%;
}
#write-carte-title::after{
    content:"";
    display: block;
    clear: both;
    background-color: white;
}
:host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px;
    
}
#write-btn{
    width: 90%;
}
#goback-btn{
    float: left;
}
#save-btn{
    float: right;
}