  #container{
    width: 100%;
    background-color: white;
    
  }
  #width{
    width: 80%;
    margin-left: 10%;
    padding-top: 5%;
  }
  table {
      width: 100%;
      opacity: 1;
    } 
  th,td{
    background-color: white;
    color:black;
  }
  .carte{
    padding-left: 10%;
    width: 10%;
    font-size: 12pt;
  }
  
  .title{
    width: 50%;
    font-size: 12pt;
  }
  
  .writer{
    width: 10%;
    font-size: 12pt;
  }
  
  .time{
    width: 10%;
    font-size: 12pt;
  }
  
  .cnt{
    width: 5%;
    font-size: 12pt;
  }
  
  .like{
    width: 5%;
    font-size: 12pt;
  }
  .mat-elevation-z8 {
    box-shadow: 0;
  }
  #img{
    padding-top: 5%;
  }
  #content{
    padding-top: 5%;
  
  }
  #like{
    background-color: white;
    color: balck;
    padding-top: 5%;
  }
  #advice-btn{
    margin-left: 5%;
    font-size: 12pt;
  }
  #like-btn{
    margin-right: 5%;
    font-size: 12pt;
  }
  #back{
    padding-left: 1%;
    padding-bottom: 1%;
    background-color: white;
  }
  #back-btn{
    margin-left: 9%;
    font-size: 12pt;
  }
  #edit-btn{
    margin-left: 9%;
    font-size: 12pt;
  }
  #delete-btn{
    margin-left: 1%;
    font-size: 12pt;
  }
  #command{
    background-color: white;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .textarea{
    width: 80%;
    height: 5%;
  }
  .mb-3, .my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
#command-input{
  background-color: white;
}
#command-background{
  background-color: white;
}

#write-carte{
  width: auto;
}
#write-title{
  width: auto;
}
#write-carte-title{
  width: 100%;
}
textarea.form-control {
  height: 400px;
}