<div id="container">
  <div id="width">
    <table id="table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- 게시판 카테고리 -->
      <ng-container matColumnDef="fbCarte">
        <th class="carte" mat-header-cell *matHeaderCellDef> 카테고리 </th>
        <td class="carte" mat-cell *matCellDef="let element"> {{element.fbCarte}} </td>
      </ng-container>

      <!-- 게시판 제목 -->
      <ng-container matColumnDef="fbTitle">
        <th class="title" mat-header-cell *matHeaderCellDef> 제목 </th>
        <td class="title" mat-cell *matCellDef="let element" (click)="goPage('board-detail/'+element.fbNum)">
          {{element.fbTitle}} </td>
      </ng-container>

      <!-- 게시판 작성자 -->
      <ng-container matColumnDef="fbId">
        <th class="writer" mat-header-cell *matHeaderCellDef> 작성자 </th>
        <td class="writer" mat-cell *matCellDef="let element"> {{element.fbId}} </td>
      </ng-container>

      <!-- 게시판 등록시간 -->
      <ng-container matColumnDef="fbCredat">
        <th class="time" mat-header-cell *matHeaderCellDef> 등록날짜 </th>
        <td class="time" mat-cell *matCellDef="let element"> {{element.fbCredat}} </td>
      </ng-container>

      <!-- 게시판 조회수 -->
      <ng-container matColumnDef="fbCnt">
        <th class="cnt" mat-header-cell *matHeaderCellDef> 조회수 </th>
        <td class="cnt" mat-cell *matCellDef="let element"> {{element.fbCnt}} </td>
      </ng-container>

      <!-- 게시판 좋아요 -->
      <ng-container matColumnDef="fbLike">
        <th class="like" mat-header-cell *matHeaderCellDef>
          <mat-icon>thumb_up</mat-icon> 좋아요
        </th>
        <td class="like" mat-cell *matCellDef="let element">
          <mat-icon>thumb_up</mat-icon> {{element.fbLike}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div id="img" *ngIf="fb.fbFileName">
      <img src="http://192.168.0.34:89/resources/board/img/img{{fb.fbFileName}}" width="500px" height="300px">
    </div>
    <div id="content">
    </div>
  </div>
</div>
<div id="like" align="center">
  <button class="btn btn-outline-info" id="like-btn" (click)="like()">좋아요<mat-icon>thumb_up</mat-icon></button>
  <button class="btn btn-outline-danger" id="advice-btn" (click)="openReport(reportModal)">신고하기<mat-icon>
      notification_important</mat-icon></button>
</div>
<div id="back" *ngIf="fb.fbId==fuId">
  <button id="edit-btn" class="btn btn-outline-info" (click)="goPage('board-edit/'+fbNum)">수정하기</button>
  <button id="delete-btn" class="btn btn-outline-info" (click)="delete()">삭제하기</button>
</div>
<div id="back" align="left">
  <button class="btn btn-outline-info" id="back-btn" (click)="goPage('freeBoard')">돌아가기<mat-icon>reply</mat-icon>
    </button>
</div>
<div id="command-background">
  <div id="command">
    <table class="table">
      <thead>
        <tr class="command-tr">
          <th class="command-id">글쓴이</th>
          <th class="command-content">내용</th>
          <th class="command-credat">날짜</th>
          <th class="command-like">좋아요</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let cb of cbList" class="command-tr">
            <td class="command-id">{{cb.bdId}}</td>
            <td class="command-content">{{cb.bdContent}}</td>
            <td class="command-credat">{{cb.bdCredat}}</td>
            <td class="command-like"><button mat-button (click)="like()">{{cb.bdLike}}<mat-icon>thumb_up</mat-icon>
                </button></td>
          </tr>
        <tr>
          <td colspan="6">
            <div id="command-input" class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">댓글</span>
              </div>
              <textarea class="textarea" aria-label="With textarea" name="bdContent" [(ngModel)]="cb.bdContent"
                placeholder="{{index}}"></textarea>
              <button type="button" class="btn btn-outline-info" (click)="save()">등록하기</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- 신고 하기 팝업창 -->
<ng-template #reportModal let-modal>
  <div class="modal-header">
    <h4>
      <mat-icon>notifications</mat-icon>신고하기
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- 서버쪽에서 카테고리 불러오는 곳-->
    <div id="write-carte" class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">카테고리</label>
      </div>
      <select *ngIf="reportCarteList" [(ngModel)]="report.crCarte" class="custom-select" id="inputGroupSelect01">
        <option selected>{{report.crCarte}}</option>
        <option>{{reportCarteList[0].crCarte}}</option>
        <option>{{reportCarteList[1].crCarte}}</option>
        <option>{{reportCarteList[2].crCarte}}</option>
        <option>{{reportCarteList[3].crCarte}}</option>
        <option>{{reportCarteList[4].crCarte}}</option>
      </select>
    </div>
    <div>
      <span>신고하실 게시판 제목:</span>
      <input type="text" disabled class="form-control" [(ngModel)]="fb.fbTitle">
    </div>
    <!-- 신고하기 제목 -->
    <div id="write-title" class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="report.crTitle" placeholder="제목을 입력해주세요." required>
    </div>
    <!-- 신고하기 내용 -->
    <div class="input-group mb-3">
      <textarea id="write-content" [(ngModel)]="report.crContent" class="form-control" req></textarea>
    </div>
  </div>
  <!-- 신고하기 파일 업로드 -->
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
        (change)="setReportFile($event)">
      <label class="custom-file-label" for="inputGroupFile01">파일을 선택해주세요</label>
    </div>
  </div>
  <!-- 신고하기 내용 저장 및 닫기 -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close('Save click')">보내기</button>
  </div>
</ng-template>