<script type="text/javascript" src="app/resources/js/jquery-3.4.1.min.js"></script>
<script src="app/resources/js/hover.js"></script>
<div id="container">
  <div id="b">
    <div class="cent">
      <br>
      화장품 사요마요?<br>
      고민될 땐, 페이스톡톡
    </div>
  </div>
  <div id="c">
    <div class="menufont">
      <div id="big01">
        <div id="in01">
          <input id="btn-search" type="text"  [(ngModel)]="product.fpName"  class="form-control" aria-label="Large"  placeholder="검색">
        </div>
        <button class="btn btn-info" (click)="goPage('searchname',product.fpName)">검색<mat-icon>search</mat-icon></button>
        </div>
      </div>
    </div>
    <div class="width">
      <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="2000" color="accent" maxWidth="500"
        proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
        [useMouseWheel]="false" orientation="ltr">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of imgSrcs1; let i = index" [image]="slide"
          overlayColor="#00000040" [hideOverlay]="true">
        </mat-carousel-slide>
      </mat-carousel>
      <br>
      <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="2000" color="accent" maxWidth="500"
        proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
        [useMouseWheel]="false" orientation="ltr">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of imgSrcs2; let j = index" [image]="slide"
          overlayColor="#00000040" [hideOverlay]="true">
        </mat-carousel-slide>
      </mat-carousel>
      <br>
      <br>
      <br>
    </div>
  </div>