
#container{
  width: 100%;
  background-color:white;
}
.width{
  width: 1200px;
  margin: 0 auto;
  // margin-right: 600px;
  // padding-left: 50px;
}
#b{
  height: 300px;
  width: 100%;
  background-image: linear-gradient(to right, #8ed3da , #b8f8fa);
}
#c{
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to right, #8ed3da , #b8f8fa);
  margin-bottom: 50px;
  // line-height: 100px;
}
#categoryC::after{
  content: "";
  display: block;
  clear: both;  
}
#categoryBox{
  float: left;
  margin-right: 20px; 
  margin-left:10px; 
  background-color: white;
  // overflow: hidden;
  width: 1000px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px; 
  // position: relative;
}
#category{
  padding-left: 20px;
  margin-top:2px;
  background-color: white;
  position: relative;
  width: 500px;
  height: 700px;
  z-index: 100;
  border-right:1px solid gray;
  box-sizing: border-box;
  // top: 50px;
  // left: 0;
}
#listImg{
  padding-left: 20px;
  font-size: 1.5em;
  height: 50px;
  line-height: 50px;
  color: gray;
  // background-image: url("../../../assets/image/catagory2.jpg");
  background-repeat: no-repeat;
  background-position: right;
}
#category>li{
  font-size: 1.5em;
  height: 50px;
  line-height: 50px;
  color: gray;
}
.category2{
  padding-left: 20px;
  width: 500px;
  position: absolute;
  top: 0;
  left:500px;
  background-color: white;
  height: 700px;
  box-sizing: border-box;
  visibility: hidden;
}
.visiblity{
  visibility: visible;
}
#button{
  float: right;
  // display: inline-block;
  margin-right: 10px;
  background-color: white;
  // border-block-style: none;
  border-radius: 5px; 
  height: 50px;
  line-height: 50px;
  width: 150px;
  text-align: center;
  font-size: 1em;
}
#button:hover{
  background-color: rgb(230, 230, 230);
}

.example-card {
    max-width: 400px;
    display: inline-block;
    margin-left: 10px;
  }
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;  
}
.body-image{
    pointer-events: none;
    position: absolute;
    width: 80%;
    height: 100%;
    z-index: -1;
}
mat-form-field {
    margin-right: 14px;
    color: rgb(82, 80, 80);
  }
  mat-grid-tile {
    background: lightblue;
    color: rgb(82, 80, 80);
  }
  .small1 {
    max-width: 1200px;
    max-height: 1200px;
  }  
  #card{
    background-color: rgb(248, 252, 241);
    color: rgb(82, 80, 80);
    
  }
  // .select{
  //   color: black;
  // }
  // .option{
  //   color: black;
  // }
  .boxin{
    background-color: rgb(180, 179, 179);

  }
  .matvalue{
    background-color: rgb(240, 228, 210);
    color: rgb(82, 80, 80);
  }
  .seletboxx{
    background-color: rgb(233, 215, 187);
    color: rgb(83, 80, 80);
  }
  .cent{
    width: 1000px;

    font-size: 40px;
    font-weight: 700;
    color: white;
    // text-align:left;
    margin-left:18.5%;
  }
  .btn btn-outline-info{
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-left:12%;
    text-align:center;        //  인풋박스 안의 텍스트 정렬
    width: 90%;
  }
  .button-row{
    background-color: white;
    width: 30%;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    margin-left:18.5%;
  }
  .cattem{
    width: 280px;
  }
  .widthwkqrl{
    width: 1200px;
  }
  #btn-search{
    background-color: white;
    font-size: 20px;
    width: 80%;
    // padding: 10px;
    // padding: 10px 10px;
    margin-left:18.5%;
  }
  #big01::after{
    content: "";
    display: block;
    clear: both;
   }
  #in01{
    width: 80%;
    float: left;
  }
  #in02{
    float: right;
  }
