<div id="container" class="page">
  <div class="page">
    <!-- 페이지 헤더 값-->
    <h1>
      고객센터
    </h1>
  </div>
  <!-- 페이지 메뉴 -->
  <div class="page">
    <button id="btn-start" type="button" class="btn btn-outline-info" (click)="goPage('customer')">자주 묻는 질문 <mat-icon>
        send</mat-icon></button>
    <button id="btn" type="button" class="btn btn-outline-info" (click)="openInquiry(inquiryModal)"> 문의 <mat-icon>create
      </mat-icon></button>
    <button id="btn-end" type="button" class="btn btn-outline-danger" (click)="openReport(reportModal)">신고 <mat-icon>
        notifications</mat-icon></button>
  </div>
  <!-- 페이지 자주하는 질문 및 답변 -->
  <div id="question" class="page">
    <h5>
      자주하시는 질문
    </h5>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>contact_support</mat-icon>제품 판매는 안하시나요?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>저희 사이트에 대해서 관심을 가져 주셔서 감사합니다.</p>
        <p>저희 사이트의 목적은 오직 제품 리뷰만을 위해 존재 하기 때문에</p>
        <p>상품을 판매하지는 않습니다. 감사합니다.</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>contact_support</mat-icon>리뷰 클리어링 기준이 어떻게 되나요?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>1. 리뷰의 목적이나 의미가 분명하지 않은 경우</p>
        <p>2. 의미 전달이 어려울 정도로 짧거나 무성의한 경우</p>
        <p>3. 외부채널에서 금전적(현물 제공포함) 이득을 통해 작성된 리뷰로 밝혀질 경우</p>
        <p>4. 해당 브랜드의 임직원으로 판단되는 계정에서 작성된 리뷰</p>
        <p>5. 리뷰를 허위로 작성했다고 판단하는 경우</p>
        <p>6. 제품에 대한 평가가 언급되지 않은 경우</p>
        <p>7. 제품 혹은 브랜드에 대한 단순 질문인 경우</p>
        <p>8. 욕설,저격 등 타인에게 불쾌감을 줄 수 있는 부적절한 리뷰인 경우</p>
        <p>9. 실명, 전화번호 등 개인 정보 내용이 노출 된 경우</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>contact_support</mat-icon>리뷰 수정 요청 기준이 어떻게 되나요?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>1. 정보성이 부족하거나 매우 간략한 리뷰</p>
        <p>2. 좋았던 점, 아쉬웠던 점이 드러나지 않은 리뷰</p>
        <p>3. 과도한 문자의 반복이나 난해한 오타가 있는 리뷰</p>
        <p>4. 욕설, 음란어를 사용한 리뷰</p>
        <p>5. 각 작성 항목의 성격과 맞지 않게 작성된 리뷰</p>
        <p>6. 사용하지 않은 제품에 대한 리뷰</p>
        <p>7. 해당 제품이 아닌 다른 제품의 리뷰</p>
        <p>8. 부적절한 사진을 첨뷰한 리뷰</p>
        <p>9. 개인 정보를 포함한 리뷰(연락처,이메일 등)</p>
        <p>10. 거래를 암시하는 내용이 포함된 리뷰</p>
        <p>11. 기타 에티켓을 위반한 리뷰</p>
        <p>12. 명예훼손, 저작권 침해, 도용 등이 우려되는 리뷰</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>contact_support</mat-icon>정보 출처는 어디인가요?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>현재 페이스톡톡 서비스에서 제공해드리는 성분 정보는</p>
        <p>1. 성분별 안전도 등급</p>
        <p>--> EWG SkinDeep 홈페이지</p>
        <p>2. 20가지 주의 성분</p>
        <p>--> 도서'대한민국 화장품의 비밀'</p>
        <p>3. 알레르기 유발 주의성분</p>
        <p>--> 식품의약품안전처</p>
        <p>4. 피부타입별 성분</p>
        <p>--> 대한피부과의사회 발표자료</p>
        <p>5. 기능성 성분</p>
        <p>--> 식품의약품안전처</p>
        <p>와 같은 출처에서 공개된 정보들을 바탕으로 하고 있습니다.</p>
        <p>*위 성분 정보는 제품 검색창 --> 성분 사전에서도 확인이 가능합니다.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>contact_support</mat-icon>신고 제제는 어떻게 되나요?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>신고 당했을 시에 관리자가 해당 게시물을 확인한 후</p>
        <p>문제가 있을 경우 해당 유저에게 경고 및 조치를 취할 것 입니다.</p>
        <p>1. 처음 신고 당할 시에 구두 경고</p>
        <p>2. 구두 경고 3회 시에는 해당 게시물 관리자가 임의로 삭제</p>
        <p>3. 규정에 어긋나는 게시물을 반복적으로 올릴 시에는</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;해당 게시물 글쓰기 권한 삭제</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!-- 신고 하기 팝업창 -->
<ng-template #reportModal let-modal>
  <div class="modal-header">
    <h4>
      <mat-icon>notifications</mat-icon>신고하기
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- 서버쪽에서 카테고리 불러오는 곳-->
    <div id="write-carte" class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">카테고리</label>
      </div>
      <select *ngIf="reportCarteList" [(ngModel)]="report.crCarte" class="custom-select" id="inputGroupSelect01">
        <option selected>{{report.crCarte}}</option>
        <option>{{reportCarteList[0].crCarte}}</option>
        <option>{{reportCarteList[1].crCarte}}</option>
        <option>{{reportCarteList[2].crCarte}}</option>
        <option>{{reportCarteList[3].crCarte}}</option>
        <option>{{reportCarteList[4].crCarte}}</option>
      </select>
    </div>
    <!-- 신고하기 제목 -->
    <div id="write-title" class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="report.crTitle" placeholder="제목을 입력해주세요." required>
    </div>
    <!-- 신고하기 내용 -->
    <div class="input-group mb-3">
      <textarea id="write-content" [(ngModel)]="report.crContent" class="form-control" req></textarea>
    </div>
  </div>
  <!-- 신고하기 파일 업로드 -->
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
        (change)="setReportFile($event)">
      <label class="custom-file-label" for="inputGroupFile01">파일을 선택해주세요</label>
    </div>
  </div>
  <!-- 신고하기 내용 저장 및 닫기 -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close('Save click')">보내기</button>
  </div>
</ng-template>
<!-- 문의 하기 팝업창 -->
<ng-template #inquiryModal let-modal>
  <div class="modal-header">
    <h4>
      <mat-icon>create</mat-icon>문의하기
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- 서버쪽에서 카테고리 불러오는 곳-->
    <div id="write-carte" class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">카테고리</label>
      </div>
      <select *ngIf="inquiryCarteList" [(ngModel)]="inquiry.ciCarte" class="custom-select" id="inputGroupSelect01">
        <option selected>{{inquiry.ciCarte}}</option>
        <option>{{inquiryCarteList[0].ciCarte}}</option>
        <option>{{inquiryCarteList[1].ciCarte}}</option>
        <option>{{inquiryCarteList[2].ciCarte}}</option>
        <option>{{inquiryCarteList[3].ciCarte}}</option>
        <option>{{inquiryCarteList[4].ciCarte}}</option>
        <option>{{inquiryCarteList[5].ciCarte}}</option>
      </select>
    </div>
    <!-- 문의하기 제목 -->
    <div id="write-title" class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="inquiry.ciTitle" placeholder="제목을 입력해주세요." required>
    </div>
    <!-- 문의하기 내용 -->
    <div class="input-group mb-3">
      <textarea id="write-content" [(ngModel)]="inquiry.ciContent" class="form-control"></textarea>
    </div>
  </div>
  <!-- 문의하기 파일 업로드 -->
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
        (change)="setInquiryFile($event)">
      <label class="custom-file-label" for="inputGroupFile01">파일을 선택해주세요</label>
    </div>
  </div>
  <!-- 문의하기 내용 저장 및 닫기 -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close('Save click')">보내기</button>
  </div>
</ng-template>