#container{
    background-color: white;
}
.page{
    background-color: white;
    padding-top: 1%;
    padding-left: 10%;
}
#btn{
    margin-left: 3%;
}
#btn-end{
    margin-left: 3%;
}
#question{
    width: 80%;
}
#notice{
    margin-top: 1%;
    width: 80%;
}
#write-carte{
    width: auto;
}
#write-title{
    width: auto;
}
#write-carte-title{
    width: 100%;
}
textarea.form-control {
    height: 400px;
}
.input-group{
    padding-left: 3%;
    padding-right: 3%;
}