<div id="container">

  <div id="width">
    <br>
    <div id="big01">
      <div id="in01">
        <mat-card id="card">
          <mat-card-content>

            <mat-card id="cardin">
              <mat-card-content>
                <mat-card-title>내 정보</mat-card-title>
                <mat-list role="list">
                  <a [routerLink]="['/user-update']"><button mat-button id="fontsize-b">개인정보 확인/수정</button></a>
                  <a [routerLink]="['/user-app-update']"><button mat-button id="fontsize">상세정보 확인/수정</button></a>
                  <mat-list-item role="listitem" class="cardin-list">회원 탈퇴</mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>

            <br>

            <mat-card id="cardin">
              <mat-card-content>
                <mat-card-title>내 활동</mat-card-title>
                <mat-list role="list">
                  <a [routerLink]="['/user-app-update']"><button mat-button id="fontsize">문의 내역</button></a>
                  <a [routerLink]="['/user-app-update']"><button mat-button id="fontsize">신고 내역</button></a>
                  <a [routerLink]="['/user-app-update']"><button mat-button id="fontsize">내가 쓴후기</button></a>
                </mat-list>
              </mat-card-content>
            </mat-card>

          </mat-card-content>
        </mat-card>
      </div>

      <!-- 비밀번호 확인 화면 -->
      <div id="in02" *ngIf="isUserUpdate">
        <mat-card id="card2">
          <mat-card-content>
            <br>
            <div class="text-01">
              <p>회원정보확인</p>
            </div>
            <div class="text-02">
              {{this.user.fuId}}님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인 합니다.
            </div>
            <!-- 아이디 -->
            <div id="input-small" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">아이디</span>
              </div>
              <input type="text" id="fuId" class="form-control" placeholder={{this.user.fuId}} disabled>
            </div>
            <!-- 비밀번호 -->
            <div id="input-small" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">비밀번호</span>
              </div>
              <input type="password" id="fuPwd" [(ngModel)]="user.fuPwd" class="form-control"
                placeholder="비밀번호를 입력해주세요." required>
            </div>
            <button class="btn btn-outline-info" type="button" (click)="doCheck()">확인</button>

          </mat-card-content>
        </mat-card>
      </div>



      <!-- 회원정보 수정 -->
      <div id="in02" *ngIf="!isUserUpdate">
        <mat-card id="card3">
          <mat-card-content>
            <br>
            <div class="text-01">
              <p>회원정보수정</p>
            </div>

            <!-- 아이디 -->
            <div id="input-small" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">아이디</span>
              </div>
              <input type="text" id="fuId" [(ngModel)]="userInfo.fuId" class="form-control" disabled>
            </div>
            <!-- 이름 -->
            <div id="input-small" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">이름</span>
              </div>
              <input *ngIf="isNameUpdate" type="text" id="fuName" class="form-control" [(ngModel)]="userInfo.fuName"
                disabled>
              <input *ngIf="!isNameUpdate" type="text" class="form-control" placeholder="이름을 입력해주세요"
                [(ngModel)]="userUp.fuName">
              <button *ngIf="isNameUpdate" type="button" class="btn btn-outline-info" (click)="UpName()">이름 변경</button>
            </div>
            <!-- 비밀번호 -->
            <div id="input-small" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">비밀번호</span>
              </div>
              <input *ngIf="isPwdUpdate" type="password" class="form-control" disabled>
              <input *ngIf="!isPwdUpdate" type="password" id="fuPwd" [(ngModel)]="fuPwdCon" class="form-control"
                placeholder="비밀번호를 입력해주세요." required>
              <button *ngIf="isPwdUpdate" type="button" class="btn btn-outline-info" (click)="UpPwd()">비밀번호 변경</button>

            </div>
            <div *ngIf="!isPwdUpdate" id="input-small" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">비밀번호 확인</span>
              </div>
              <input type="password" [(ngModel)]="userUp.fuPwd" class="form-control" placeholder="다시 한번 입력해주세요."
                (blur)="checkPwd()" required>
            </div>

            <!-- 연락처 -->
            <div id="input-small" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">연락처</span>
              </div>
              <input *ngIf="isMobileUpdate" type="text" [(ngModel)]="userInfo.fuMobile" class="form-control" required
                disabled>
              <input *ngIf="!isMobileUpdate" type="text" [(ngModel)]="userUp.fuMobile" class="form-control"
                placeholder="-를 빼고 입력해주세요." required>
              <button *ngIf="isMobileUpdate" type="button" class="btn btn-outline-info" (click)="UpMobile()">연락처
                변경</button>
            </div>
            <!-- 주소 보여지는 부분-->
            <button *ngIf="isAddrUpdate" type="button" class="btn btn-outline-info" (click)="UpAdd()">주소 변경</button>
            <div *ngIf="isAddrUpdate" id="addr-content">
              <div id="input-zipcode" class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">우편번호</span>
                </div>
                <input type="text" disabled [(ngModel)]="userInfo.fuZipcode" class="form-control" required>
              </div>
              <div *ngIf="isAddrUpdate" id="input-addr" class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
                </div>
                <input type="text" disabled [(ngModel)]="userInfo.fuAddr" class="form-control" required>
              </div>
            </div>
            <div *ngIf="isAddrUpdate" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">상세주소</span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="userInfo.fuAddrDetail" required disabled>

            </div>
            <!-- 주소 수정하는 부분 -->
            <div *ngIf="!isAddrUpdate" id="addr-content">
              <div id="input-zipcode" class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">우편번호</span>
                </div>
                <input type="text" disabled [(ngModel)]="userUp.fuZipcode" class="form-control" required>
              </div>
              <div *ngIf="!isAddrUpdate" id="input-addr" class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
                </div>
                <input type="text" disabled [(ngModel)]="userUp.fuAddr" class="form-control" required>
              </div>
              <div id="daum-btn">
                <btn-daum-address mat-button (result)="setDaumAddressApi($event)"></btn-daum-address>
              </div>
            </div>
            <div *ngIf="!isAddrUpdate" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">상세주소</span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="userUp.fuAddrDetail" required>
            </div>
            <!-- 이메일 보여주는 역할 -->
            <div *ngIf="!isEmailUpdate" id="input-em" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">이메일</span>
              </div>
              <input type="text" id="fuId" [(ngModel)]="userInfo.fuEmail" class="form-control" required disabled>
              <button type="button" class="btn btn-outline-info" (click)="UpEmail()">이메일 변경</button>

            </div>
            <!-- 이메일 변경 클릭시 보여준다 -->
            <div *ngIf="isEmailUpdate" id="input-email" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">이메일</span>
              </div>
              <input type="text" [(ngModel)]="fuEmailId" class="form-control" required>
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">@</span>
              </div>
              <input type="text" [(ngModel)]="fuEmailAddr" class="form-control" required>
              <select id="input-select" [(ngModel)]="fuEmailAddr">
                <option selected value="naver.com">naver.com</option>
                <option value="daum.net">daum.net</option>
                <option value="gmail.com">gmail.com</option>
                <option value="nate.com">nate.com</option>
                <option value="">직접입력</option>
              </select>
            </div>
            <br><br>
            <div align="center">
              <button type="button" class="btn btn-outline-info" (click)="UserInfoUpdate()">수정<mat-icon>done</mat-icon>
              </button>
            </div>


          </mat-card-content>
        </mat-card>
      </div>


    </div>


    <br>

  </div>
</div>