<div id="container">
    <div id="width">
        <div id="big01">
            <div id="in01">
                <br>
                <div class="text-01">
                    {{product.fpName}} 검색결과
                </div>
                <br>


                <div id="card">

                    <div *ngIf="!isValue" class="text-03">
                        <br><br>
                        검색 결과가 없습니다.
                        <div class="text-04">
                            검색어의 철자와 띄어쓰기가 정확한지 확인해주세요.
                            검색어의 단어 수를 줄이거나, 보다 일반적인 단어 등 다른 검색어를 입력해보세요.
                        </div>
                    </div>

                    <div *ngIf="isValue">
                            <div class="text-02">
                                    제품
                                </div>
                                <br>
                        <div class="card-deck" *ngFor="let product of productList">
                            <div class="card2">
                                <img src="http://localhost:89\resources\product{{product.fpFileName}}"
                                    alt="Card image cap" width="300px" height="300px"
                                    (click)="goPage('product/'+product.fpNum)">
                                <div class="card-body" (click)="goPage('product/'+product.fpNum)">
                                    <h5 class="card-title">{{product.fpName}}</h5>
                                    <p class="card-text"> {{product.fpCarte}} / {{product.fpVolume}} /
                                        {{product.fpPrice}}원 </p>
                                    <p class="card-text"> </p>
                                    <!-- 상품 평점 하트로 보여지게하는거 -->
                                    <ng-template #t let-fill="fill">
                                        <span class="star" [class.full]="fill === 100">
                                            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                                        </span>
                                    </ng-template>
                                    <ngb-rating [(rate)]="product.itemReviewAvgscore" [starTemplate]="t"
                                        [readonly]="true" max="5">
                                    </ngb-rating>
                                    &nbsp;({{product.itemReviewCount}})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>