#container{
    width: 100%;
    background-color: rgb(252, 252, 252);
  }
  #width{
    padding: 0px;
    width: 600px;
    margin: 0 auto;
    // margin-right: 600px;
  }
  #card{
    background-color: rgb(255, 255, 255);
    color: rgb(70, 69, 69);
    width: 500px;
    height: 500px;
  }  
  .text-01{
    color: black;
    font-weight: 900;
    font-size: 40px;
  }
  .text-02{
    color: black;
    font-weight: 500;
    font-size: 30px;
  }
  .text-03{
    color: rgb(17, 17, 17);
    font-weight: 400;
    font-size: 34px;
  }
  .text-04{
    color: rgb(29, 29, 29);
    font-weight: 500;
    font-size: 15px;
  }
  #big01::after{
    content: "";
    display: block;
    clear: both;
   }
   #in01{
    float: none;
  }
  #card2{
    background-color: rgb(255, 255, 255);
    color: rgb(70, 69, 69);
    width: 500px;
    height: 500px;
  }  
  