<div id="container">

  <div id="width">
    <br>
    <div id="big01">
      <div id="in01">
        <mat-card id="card">
          <mat-card-content>

            <mat-card id="cardin">
              <mat-card-content>
                <mat-card-title>내 정보</mat-card-title>
                <mat-list role="list">
                  <a [routerLink]="['/user-update']"><button mat-button id="fontsize">개인정보 확인/수정</button></a>
                  <a [routerLink]="['/user-app-update']"><button mat-button id="fontsize">상세정보 확인/수정</button></a>
                  <!-- <mat-list-item role="listitem" class="cardin-list" >회원 탈퇴</mat-list-item> -->
                </mat-list>
              </mat-card-content>
            </mat-card>

            <br>

            <mat-card id="cardin">
              <mat-card-content>
                <mat-card-title>내 활동</mat-card-title>
                <mat-list role="list">
                  <a [routerLink]="['/user-app-update']"><button mat-button id="fontsize">문의 내역</button></a>
                  <a [routerLink]="['/user-app-update']"><button mat-button id="fontsize">신고 내역</button></a>
                  <a [routerLink]="['/user-app-update']"><button mat-button id="fontsize">내가 쓴후기</button></a>
                </mat-list>
              </mat-card-content>
            </mat-card>


          </mat-card-content>
        </mat-card>
      </div>






      <div id="in02">
        <mat-card id="card2">
          <mat-card-content>
            <br>
            <div class="text-01">
              <p>최근활동</p>
            </div>
            <div class="card">
              <div class="card-header">
                내가 쓴 후기
              </div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">날짜</th>
                      <th >별점</th>
                      <th scope="col">내용</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let itemReview of itemReviewList  | slice: pageSize | slice: 0:itemsPerPage">
                    <tr>
                      <td>{{itemReview.itemReviewDate}}</td>
                      <td>{{itemReview.itemReviewScore}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      <td>{{itemReview.itemReviewContent}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- 페이징버튼 -->
              <div class="d-flex justify-content-end">
                <ngb-pagination id="currentPage" [collectionSize]="itemReviewList.length" [pageSize]="itemsPerPage"
                  [(page)]="currentPage" (pageChange)="onPageChange1($event)"></ngb-pagination>
              </div>
            </div>
            <br>
            <div class="card">
              <div class="card-header">
                문의내역
              </div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">카테고리</th>
                      <th scope="col">제목</th>
                      <th scope="col">내용</th>
                      <th scope="col">날짜</th>
                      <th scope="col">시간</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let inquiry of inquiryList  | slice: pageSize2 | slice: 0:itemsPerPage2">
                    <tr>
                      <td>{{inquiry.ciCarte}}</td>
                      <td>{{inquiry.ciTitle}}</td>
                      <td>{{inquiry.ciContent}}</td>
                      <td>{{inquiry.ciCredat}}</td>
                      <td>{{inquiry.ciCretim}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- 페이징버튼 2 -->
              <div class="d-flex justify-content-end">
                <ngb-pagination id="currentPage2"[collectionSize]="inquiryList.length" [pageSize]="itemsPerPage2"
                  [(page)]="currentPage2" (pageChange)="onPageChange2($event)"></ngb-pagination>
              </div>
            </div>
            <br>
            <div class="card">
              <div class="card-header">
                신고내역
              </div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">카테고리</th>
                      <th scope="col">제목</th>
                      <th scope="col">내용</th>
                      <th scope="col">날짜</th>
                      <th scope="col">시간</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let report of reportList  | slice: pageSize3 | slice: 0:itemsPerPage3">
                    <tr>
                      <td>{{report.crCarte}}</td>
                      <td>{{report.crTitle}}</td>
                      <td>{{report.crContent}}</td>
                      <td>{{report.crCredat}}</td>
                      <td>{{report.crCretim}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- 페이징버튼 -->
              <div class="d-flex justify-content-end">
                <ngb-pagination id="currentPage3" [collectionSize]="reportList.length" [pageSize]="itemsPerPage3"
                  [(page)]="currentPage3" (pageChange)="onPageChange3($event)"></ngb-pagination>
              </div>
            </div>

            <br>
            <br>
          </mat-card-content>
        </mat-card>
       
      </div>
    </div>
    <br>



  </div>
</div>