#signup-container{
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}
#text-header{
    background-color: white;
    padding-top: 3%;
    padding-left: 1%;
}
#input-small{
    padding-top: 1%;
    width: 35%;
}
#addr-content::after{
    padding-top: 1%;
    content:"";
    display: block;
    clear: both;
}
#input-zipcode{
    padding-top: 1%;
    float: left;
    width: auto;
}
#input-addr{
    padding-top: 1%;
    float: right;
    width: 60%;
}
#input-select{
    width: 30%;
}
#daum-btn{
    padding-top: 1%;
}
#btn-next{
    font-size: 15pt;
    padding-left: 2%;
    padding-right: 1.8%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#input-email{
    padding-top: 1%;
}
#input-add{
    padding-top: 1%;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 15%;
  }
  