<div id="signup-container">
  <!-- 페이지 헤더 -->
  <div id="text-header">
    <h1>
      회원가입 <img class="mb-4" src="assets/image/logo.png" alt="logo" width="150" height="100">
    </h1>
  </div>
  <!-- 필수정보 페이지 -->
  <mat-horizontal-stepper>
    <mat-step label="필수 정보">
      <!-- 이름 -->
      <div id="input-small" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">이름</span>
        </div>
        <input type="text" id="fuName" class="form-control" placeholder="이름을 입력해주세요." [(ngModel)]="user.fuName">
      </div>
      <!-- 아이디 -->
      <div id="input-small" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">아이디</span>
        </div>
        <input type="text" id="fuId" [(ngModel)]="user.fuId" class="form-control" placeholder="아이디를 입력해주세요." required>
        <button id="btn-next" type="button" mat-button (click)="checkId()">중복확인</button>
      </div>
      <!-- 비밀번호 -->
      <div id="input-small" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">비밀번호</span>
        </div>
        <input type="password" id="fuPwd" [(ngModel)]="fuPwdCon" class="form-control" placeholder="비밀번호를 입력해주세요."
          required>
      </div>
      <div id="input-small" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">비밀번호 확인</span>
        </div>
        <input type="password" [(ngModel)]="user.fuPwd" class="form-control" placeholder="다시 한번 입력해주세요."
          (blur)="checkPwd()" required>
      </div>
      <!-- 연락처 -->
      <div id="input-small" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">연락처</span>
        </div>
        <input type="text" [(ngModel)]="user.fuMobile" class="form-control" placeholder="-를 빼고 입력해주세요." required>
      </div>
      <!-- 주소 -->
      <div id="addr-content">
        <div id="input-zipcode" class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">우편번호</span>
          </div>
          <input type="text" disabled [(ngModel)]="user.fuZipcode" class="form-control" required>
        </div>
        <div id="input-addr" class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
          </div>
          <input type="text" disabled [(ngModel)]="user.fuAddr" class="form-control" required>
        </div>
        <div id="daum-btn">
          <btn-daum-address mat-button (result)="setDaumAddressApi($event)"></btn-daum-address>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">상세주소</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.fuAddrDetail" required>
      </div>
      <!-- 이메일 -->
      <div id="input-email" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">이메일</span>
        </div>
        <input type="text" [(ngModel)]="fuEmailId" class="form-control" required>
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">@</span>
        </div>
        <input type="text" [(ngModel)]="fuEmailAddr" class="form-control" required>
        <select id="input-select" [(ngModel)]="fuEmailAddr">
          <option selected value="naver.com">naver.com</option>
          <option value="daum.net">daum.net</option>
          <option value="gmail.com">gmail.com</option>
          <option value="nate.com">nate.com</option>
          <option value="">직접입력</option>
        </select>
      </div>
      <!-- 저장 및 다음 페이지 이동 버튼 -->
      <div align="center">
        <button id="btn-next" mat-button (click)="signUp()">저장<mat-icon>done</mat-icon></button>
        <button id="btn-next" mat-button matStepperNext (click)="alam()">다음<mat-icon>redo</mat-icon></button>
      </div>
    </mat-step>
    <!-- 추가정보 페이지 -->
    <mat-step label="추가 정보">
      <!-- 추가정보 페이지 안내문 -->
      <div id="input-add">
        <p>추가정보 페이지 입니다. 추후 마이페이지에서 작성이 가능한 부분입니다.</p>
        <p>다음으로 넘어가도 아무런 지장이 없으나 회원가입 할 때 작성하는 걸 권장드립니다.</p>
      </div>
      <!-- 성별 -->
      <div id="input-add" class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">성별</label>
        </div>
        <select [(ngModel)]="userAdd.fuTrans" class="custom-select" id="inputGroupSelect01">
          <option selected>{{userAdd.fuTrans}}</option>
          <option value="1">남자</option>
          <option value="2">여자</option>
        </select>
      </div>
      <!-- 생년월일 -->
      <div id="input-add" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">생년월일</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="userAdd.fuAge" placeholder="ex)19920630 양식에 맞게 입력해주세요."
          required>
      </div>
      <!-- 피부타입 -->
      <div id="input-add">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">피부타입</span>
          </div>
          <input type="text" class="form-control" disabled [(ngModel)]="userAdd.fuSkinType" required>
        </div>
        <mat-radio-group [(ngModel)]="userAdd.fuSkinType" aria-label="Select an option">
          <mat-radio-button value="건성">건성</mat-radio-button>
          <mat-radio-button value="지성">지성</mat-radio-button>
          <mat-radio-button value="중성">중성</mat-radio-button>
          <mat-radio-button value="복합성">복합성</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- 피부고민 -->
      <div id="input-add">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">피부고민</span>
          </div>
          <input type="text" class="form-control" disabled [(ngModel)]="userAdd.fuSkinIssue" required>
        </div>
        <mat-radio-group [(ngModel)]="userAdd.fuSkinIssue" aria-label="Select an option">
          <mat-radio-button value="아토피">아토피</mat-radio-button>
          <mat-radio-button value="여드름">여드름</mat-radio-button>
          <mat-radio-button value="민감성">민감성</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- 자녀여부 -->
      <div id="input-add" class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">자녀여부</label>
        </div>
        <select [(ngModel)]="userAdd.fuChild" class="custom-select" id="inputGroupSelect01">
          <option selected>{{userAdd.fuChild}}</option>
          <option value="0">없음</option>
          <option value="1">있음</option>
        </select>
      </div>
      <!-- 저장 및 이전 과 다음 페이지이동 버튼-->
      <div align="center">
        <button id="btn-next" mat-button matStepperPrevious>이전<mat-icon>undo</mat-icon></button>
        <button id="btn-next" mat-button (click)="updateSignUp()">저장<mat-icon>done</mat-icon></button>
        <button id="btn-next" mat-button matStepperNext>다음<mat-icon>redo</mat-icon></button>
      </div>
    </mat-step>
    <mat-step label="가입 완료">
      <div *ngIf="user.fuId" align="center">
        <p>{{user.fuId}}님 가입을 축하드립니다.</p>
        <p>고객님을 위해서 다양한 화장품 종류와 리뷰를 제공하겠습니다.</p>
      </div>
      <div *ngIf="user.fuId" align="center">
        <button id="btn-next" mat-button matStepperPrevious>이전<mat-icon>undo</mat-icon></button>
        <button id="btn-next" mat-button (click)="goPage('signin')">로그인<mat-icon>done</mat-icon></button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>