#container{
  width: 100%;
  background-color: white;
}
#width{
  width: 80%;
  margin-left: 10%;
}
table {
    margin-top: 1%;
    width: 100%;
    opacity: 0.8;
  } 
h1{
  margin-top: 10%;
  background-color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  opacity: 0.8;
}
th,td{
  background-color: white;
  color:black;
}
.num{
 width: 5%;
 font-size: 15pt;
}
.carte{
  width: 10%;
  font-size: 15pt;
}

.title{
  width: 40%;
  font-size: 15pt;
}

.writer{
  width: 8%;
  font-size: 15pt;
}

.time{
  width: 3%;
  font-size: 15pt;
}

.cnt{
  width: 5%;
  font-size: 15pt;
}

.like{
  width: 5%;
  font-size: 15pt;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger{
  background-color: white;
  color: black;
  opacity: 0.8;
  }
#write-select::after{
  content:"";
  display: block;
  clear: both;
}
#write-carte{
  float: left;
  width: 20%;
}
#write-title{
  float: right;
  width: 70%;
}