<div id="container">
  <div id="width">

    <div id="title">
      <h1>자유 게시판</h1>
    </div>
    <div id="write-select" class="input-group">
      <div id="board-write" class="custom-file">
        <button class="btn btn-outline-info" (click)="writeBoard()">글쓰기<mat-icon>create</mat-icon></button>
      </div>
      <div id="select-carte" *ngIf="boardCarteList" class="input-group-append" id="button-addon4">
        <select [(ngModel)]="board.fbCarte">
          <option selected>{{board.fbCarte}}</option>
          <option>{{boardCarteList[0].fbCarte}}</option>
          <option>{{boardCarteList[1].fbCarte}}</option>
          <option>{{boardCarteList[2].fbCarte}}</option>
          <option>{{boardCarteList[3].fbCarte}}</option>
          <option>{{boardCarteList[4].fbCarte}}</option>
        </select>
        <input type="text" placeholder="검색" [(ngModel)]="board.fbTitle">
        <button class="btn btn-outline-info" (click)="doSearch()">검색<mat-icon>search</mat-icon></button>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table id="table" mat-table [dataSource]="dataSource">

        <!-- 게시판 번호 -->
        <ng-container matColumnDef="fbNum">
          <th class="num" mat-header-cell *matHeaderCellDef> 번호 </th>
          <td class="num" mat-cell *matCellDef="let element"> {{element.fbNum}} </td>
        </ng-container>

        <!-- 게시판 카테고리 -->
        <ng-container matColumnDef="fbCarte">
          <th class="carte" mat-header-cell *matHeaderCellDef> 카테고리 </th>
          <td class="carte" mat-cell *matCellDef="let element"> {{element.fbCarte}} </td>
        </ng-container>

        <!-- 게시판 제목 -->
        <ng-container matColumnDef="fbTitle">
          <th class="title" mat-header-cell *matHeaderCellDef> 제목 </th>
          <td class="title" mat-cell *matCellDef="let element" (click)="goPage('board-detail/'+element.fbNum)">
            {{element.fbTitle}} </td>
        </ng-container>

        <!-- 게시판 작성자 -->
        <ng-container matColumnDef="fbId">
          <th class="writer" mat-header-cell *matHeaderCellDef> 작성자 </th>
          <td class="writer" mat-cell *matCellDef="let element"> {{element.fbId}} </td>
        </ng-container>

        <!-- 게시판 등록시간 -->
        <ng-container matColumnDef="fbCredat">
          <th class="time" mat-header-cell *matHeaderCellDef> 등록날짜 </th>
          <td class="time" mat-cell *matCellDef="let element"> {{element.fbCredat}} </td>
        </ng-container>

        <!-- 게시판 조회수 -->
        <ng-container matColumnDef="fbCnt">
          <th class="cnt" mat-header-cell *matHeaderCellDef> 조회수 </th>
          <td class="cnt" mat-cell *matCellDef="let element"> {{element.fbCnt}} </td>
        </ng-container>

        <!-- 게시판 좋아요 -->
        <ng-container matColumnDef="fbLike">
          <th class="like" mat-header-cell *matHeaderCellDef><mat-icon>thumb_up</mat-icon> 좋아요 </th>
          <td class="like" mat-cell *matCellDef="let element"><mat-icon>thumb_up</mat-icon> {{element.fbLike}} </td>
        </ng-container>

        <tr id="tr" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr id="tr" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>